In [1]:
import pandas as pd

In [2]:
#load the xls file without containing any links
df = pd.read_excel('testing_excel.xlsx', sheet_name='Sheet2')

In [3]:
df = df.replace(u'\xa0', u' ', regex=True)

In [4]:
#remove the " character from the dataframe
df = df.replace('"', '', regex=True)
df

,Greetings,Voicetype,Goodbyes
0,Hmm?,All types of NPCs,Until next time.
1,Need something?,All types of NPCs,Hmm hmm.
2,Yes?,All types of NPCs,"All right, then."
3,"Ours is to smile at your passing, friend.(F)",MaleArgonian,NaN
4,It fills us with rage. What harm does it bring...,MaleArgonian,NaN
...,...,...,...
120,You're nothing but trouble.(H),MaleYoungEager,NaN
121,What can I do for you?,MaleYoungEager or FemaleYoungEager,NaN
122,"Oh, did you need something?",MaleYoungEager or FemaleYoungEager,NaN
123,It's a fine day with you around.(F),FemaleYoungEager,NaN
124,You. Every time I look at you my blood boils.(H),NaN,NaN

In [5]:
#split the dataframe in two dataframes, one with the columns Greetings and Voicetype and the other with the columns Goodbye and Voicetype
Greetings = df[['Greetings', 'Voicetype']]

#Drop the rows where Greetings is NaN
Greetings = Greetings.dropna(subset=['Greetings'])

Goodbyes = df[['Goodbyes', 'Voicetype']]

#drop the rows where goodbyes is NaN
Goodbyes = Goodbyes.dropna(subset=['Goodbyes'])

In [6]:
Greetings

,Greetings,Voicetype
0,Hmm?,All types of NPCs
1,Need something?,All types of NPCs
2,Yes?,All types of NPCs
3,"Ours is to smile at your passing, friend.(F)",MaleArgonian
4,It fills us with rage. What harm does it bring...,MaleArgonian
...,...,...
120,You're nothing but trouble.(H),MaleYoungEager
121,What can I do for you?,MaleYoungEager or FemaleYoungEager
122,"Oh, did you need something?",MaleYoungEager or FemaleYoungEager
123,It's a fine day with you around.(F),FemaleYoungEager
124,You. Every time I look at you my blood boils.(H),NaN

In [7]:
Goodbyes

                        Goodbyes                               Voicetype
0               Until next time.                       All types of NPCs
1                       Hmm hmm.                       All types of NPCs
2               All right, then.                       All types of NPCs
19     I'll take my leave, then.      MaleCommander or MaleNordCommander
33    Now if you'll excuse me...                       MaleCondescending
46                 Safe travels.                             MaleDarkElf
53                  Yeah yeah...                               MaleDrunk
65                     Farewell.  MaleEvenToned or MaleEvenTonedAccented
72                Swift hunting.                             MaleKhajiit
75   May you walk on warm sands.            MaleKhajiit or FemaleKhajiit
78                          Aye.                                MaleNord
92               Take care, now.                           MaleOldKindly
98                   Fight well.                                 MaleOrc
113        It's been a pleasure.                            FemaleSultry
116              See you around.                            FemaleSultry
119        I'd better get going.                          MaleYoungEager

In [8]:
#create an new column in the greetings dataframe called Tone 
Greetings['Tone'] = 'Neutral'

# check the rows of the datafram to see if there is a (H) or a (F) in the rows and change the tone to Happy or Formal

for index, row in Greetings.iterrows():
    if '(H)' in row['Greetings']:
        Greetings.at[index, 'Tone'] = 'Hostile'
        #remove the (H) from the row
        Greetings.at[index, 'Greetings'] = Greetings.at[index, 'Greetings'].replace('(H)', '')
    elif '(F)' in row['Greetings']:
        Greetings.at[index, 'Tone'] = 'Friendly'
        #remove the (F) from the row
        Greetings.at[index, 'Greetings'] = Greetings.at[index, 'Greetings'].replace('(F)', '')

In [9]:
    
#remove the (H) and (F) from the rows of the Greetings column
Greetings['Greetings'] = Greetings['Greetings'].str.replace(r"\(H\)", "")

In [10]:
Greetings

,Greetings,Voicetype,Tone
0,Hmm?,All types of NPCs,Neutral
1,Need something?,All types of NPCs,Neutral
2,Yes?,All types of NPCs,Neutral
3,"Ours is to smile at your passing, friend.",MaleArgonian,Friendly
4,It fills us with rage. What harm does it bring...,MaleArgonian,Hostile
...,...,...,...
120,You're nothing but trouble.,MaleYoungEager,Hostile
121,What can I do for you?,MaleYoungEager or FemaleYoungEager,Neutral
122,"Oh, did you need something?",MaleYoungEager or FemaleYoungEager,Neutral
123,It's a fine day with you around.,FemaleYoungEager,Friendly
124,You. Every time I look at you my blood boils.,NaN,Hostile

In [22]:
#import the second sheet of the excel file to a dataframe
vampire = pd.read_excel('testing_excel.xlsx', sheet_name='Sheet1')

In [23]:
#duplicate the rows
vampire = vampire.copy()

vampire= pd.concat([vampire]*2, ignore_index=True)

# Replace the first 8 values of the 'Voicetype' column with the first value
vampire.loc[0:7, 'Dialogue'] = vampire['Dialogue'][0]

# Replace the next 8 values of the 'Voicetype' column starting from the 8th index with the value at the 8th index
vampire.loc[8:15, 'Dialogue'] = vampire['Dialogue'][9]

In [24]:
vampire

                Voicetype                                           Dialogue
0            MaleCommoner  "Don't like those eyes you got. There's a bad ...
1    MaleCommonerAccented  "Don't like those eyes you got. There's a bad ...
2          FemaleCommoner  "Don't like those eyes you got. There's a bad ...
3           MaleEvenToned  "Don't like those eyes you got. There's a bad ...
4   MaleEvenTonedAccented  "Don't like those eyes you got. There's a bad ...
5         FemaleEvenToned  "Don't like those eyes you got. There's a bad ...
6                MaleNord  "Don't like those eyes you got. There's a bad ...
7              FemaleNord  "Don't like those eyes you got. There's a bad ...
8            MaleCommoner  "Your skin's as pale as the snow. You scared o...
9    MaleCommonerAccented  "Your skin's as pale as the snow. You scared o...
10         FemaleCommoner  "Your skin's as pale as the snow. You scared o...
11          MaleEvenToned  "Your skin's as pale as the snow. You scared o...
12  MaleEvenTonedAccented  "Your skin's as pale as the snow. You scared o...
13        FemaleEvenToned  "Your skin's as pale as the snow. You scared o...
14               MaleNord  "Your skin's as pale as the snow. You scared o...
15             FemaleNord  "Your skin's as pale as the snow. You scared o...

In [34]:
werewolf = pd.read_excel('testing_excel.xlsx', sheet_name='Sheet3')

In [35]:
werewolf

                Voicetype                              Dialogue
0               Any guard                           "Werewolf!"
1               Any guard  "It's a werewolf! To arms! To arms!"
2               Any guard       "By the gods! It..it can't be!"
3            MaleCommoner               "Come on! You monster!"
4    MaleCommonerAccented               "Come on! You monster!"
5          FemaleCommoner               "Come on! You monster!"
6           MaleEvenToned               "Come on! You monster!"
7   MaleEvenTonedAccented               "Come on! You monster!"
8         FemaleEvenToned               "Come on! You monster!"
9                MaleNord               "Come on! You monster!"
10             FemaleNord               "Come on! You monster!"
11           MaleCommoner              "Die, you filthy beast!"
12   MaleCommonerAccented              "Die, you filthy beast!"
13         FemaleCommoner              "Die, you filthy beast!"
14          MaleEvenToned              "Die, you filthy beast!"
15  MaleEvenTonedAccented              "Die, you filthy beast!"
16        FemaleEvenToned              "Die, you filthy beast!"
17               MaleNord              "Die, you filthy beast!"
18             FemaleNord              "Die, you filthy beast!"
19           MaleCommoner         "Werewolf! Kill the monster!"
20   MaleCommonerAccented         "Werewolf! Kill the monster!"
21         FemaleCommoner         "Werewolf! Kill the monster!"
22          MaleEvenToned         "Werewolf! Kill the monster!"
23  MaleEvenTonedAccented         "Werewolf! Kill the monster!"
24        FemaleEvenToned         "Werewolf! Kill the monster!"
25               MaleNord         "Werewolf! Kill the monster!"
26             FemaleNord         "Werewolf! Kill the monster!"

In [ ]:
#